{% extends "base.html" %}
{% load static %}
{% load training_tags %}
{% block title %}Post Training{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/calendar.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard_calendar.css' %}"/>
<style>
        .topheader{
    position: relative;
    background-color: #000 !important;
    /* margin-bottom: 20px; */
}
    .shortcut-links-container{
        display: flex !important;
        flex-wrap: nowrap;
        /* justify-content: left; */
        align-items: center;
    }
    .subheader-contianer{
        color: #fff;
    }

    .calendar-days > div{
        padding: 10px;
    }

</style>
{% endblock css %}

{% block submenu %}
{% include 'dhdashboard-menu.html' %}
{% endblock submenu %}

{% block entity_name %}
    <div class="comp_name">{{request.user.company}}</div>
{% endblock entity_name %}
{% block dashboard_menu %}    
    {% include 'dhdashboard-menu.html' %}
{% endblock dashboard_menu %} 

{% block content %}

    

<div class="container-xxl py-5">
    <div class="container">
        {% include 'errors.html' %}
        <h2>Post Training Event <span class="text-danger">({{course}})</span> </h2>
        <br>
    
        <div class="calendar">
            <div class="calendar-header">
                <div class="scrolling-arrows">
                    <a href="{% url 'post-training' pk=course.pk month=prevdate.month year=prevdate.year %}" class="text-white">
                        <i class="fa fa-chevron-left" aria-hidden="true" style="font-size: 36px;"></i>
                    </a>
                </div>
                <div class="calendar-header-middle">
                    <div class="month_lbl"> {{curr_month|date:"F"}} {{curr_month|date:"Y"}}</div>
                     
                </div>
                <div class="scrolling-arrows">
                    <a href="{% url 'post-training' pk=course.pk month=nextdate.month year=nextdate.year %}" class="text-white">
                        <i class="fa fa-chevron-right" aria-hidden="true" style="font-size: 36px;"></i>
                    </a>
                </div>
            </div>
            <div class="calendar-week">
                <div class="week-day">Sun</div>
                <div class="week-day">Mon</div>
                <div class="week-day">Tue</div>
                <div class="week-day">Wed</div>
                <div class="week-day">Thu</div>
                <div class="week-day">Fri</div>
                <div class="week-day">Sat</div>
            </div>
            <div class="calendar-days">
                {% for date in calendar_dates %}
                
                {% check_booking date trainingdates as event_num %}
                      
                        <div class="calendar-day" id="{{date|date:'Y-m-d'}}" data-day="{{date|date:'Y-m-d'}}" onclick="selectday(this)" {% if event_num|length > 0 %} data-dayselected="1" {% else %} data-dayselected="0" {% endif %}">
                            
                            {{date.day}}

                            <div class="training-content">
                                {% if event_num|length > 0 %}
                                    {% for event in event_num %}
                                    <div class="training-lbl"></div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                {% endfor %}
            </div>
        </div>

        <br><br>

        <h5>Selected Dates</h5>
        <br>

        <div class="formdv">
            <form id="trainingform" method="post" action="{% url 'post-training' pk=course.pk month=curr_month.month year=curr_month.year %}" style="width: 100%;">
               {% csrf_token %}
               {{training_dates_formset.management_form}}

               {% for form in training_dates_formset %}
                <div class="formset-container" style="display: none;">
                    <div class="datecont">
                        {{form.seldate}}
                    </div>
                    <div class="timecont">
                        <div class="input-group" style="min-width: 5% !important; max-width: 100%; width: 180px;">
                            {{form.seltime}}
                            <button class="btn btn-secondary btn-sm" onclick="addtime(this)" type="button" id="button-addon2">Add Time</button>
                        </div>
                    </div>
                    <div class="times-container"></div>
                </div>
               {% endfor %}
                <br><br>
               
                <label>Notes about the training (Optional)</label>
                {{training_form.comment}}
                <br><br>
                <label>Enter maximum number of enrollees </label>
                {{training_form.enrollees_num}}
                <br><br>                
            </form>
            <div style="text-align: center;">
                <input type="submit" form="trainingform" class="btn btn-primary btn-lg">
            </div>
        </div>
     
    </div>
</div>

{% endblock %}

{% block js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
<script type="text/javascript" src="{% static 'js/calendar.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dashboard_calendar.js' %}"></script>
{% endblock js %}