{% extends "base.html" %}
{% load static %}
{% load training_tags %}
{% block title %}Requested Drivers{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/calendar.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard_calendar.css' %}"/>
<style>
    .shortcut-links-container{
        display: flex !important;
        flex-wrap: nowrap;
        /* justify-content: left; */
        align-items: center;
    }
    .subheader-contianer{
        color: #fff;
    }


</style>
{% endblock css %}

{% block submenu %}
{% include 'dhdashboard-menu.html' %}
{% endblock submenu %}

{% block entity_name %}
    <div class="comp_name">{{request.user.company}}</div>
{% endblock entity_name %}
{% block dashboard_menu %}    
    {% include 'dhdashboard-menu.html' %}
{% endblock dashboard_menu %} 

{% block content %}

    

    <div class="universal-padding">
        {% include 'errors.html' %}
    
        <table class="table table-responsive">
            <thead>
                <th>Date</th>
                <th>Request ID</th>
                <th>Driver</th>
                <th>Request Type</th>
                <th>Status</th>
            </thead>
            <tbody>
                {% for req in page_obj %}
                <tr>
                    <td>{{req.date_created}}</td>
                    <td><a href="{% url 'driver-req' pk=req.pk %}">{{req.req_id}}</a> </td>
                    <td>{{req.driver.user.get_full_name}}</td>
                    <td>{{req.get_employment_type_display}}</td>
                    <td>{{req.ret_last_status.get_status_display}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include 'paginator.html' %}
     
    </div>

{% endblock %}

