{% extends 'base.html' %}
{% load static %}

{% block css %}
<style>
  #home-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -12;
  }

  .home-ovelay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(0,0,0,.7);
    z-index: -10;
  }
  #main-content{
    opacity: 1 !important;
  }

  .advertising_txt{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 350px;
    text-align: center;
    position: relative;
    z-index: 5;
  }

  .home-text-container{
    position: relative;
  }
  .home-text{
    color: #fff;
    letter-spacing: 1px;
  }
  .home-text-sm{
    color: #00b0f0;
    letter-spacing: 1px;
  }

  .home-img{
    max-width: 100%;
    /* height: 450px; */
    object-fit: cover;
  }

  .home-img-container{
    background-color: rgb(152, 175, 199, .5); 
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-gap: 10px; */
  }
  @media only screen and (max-width: 750px) {
      .home-img-container{
          display: grid;
          width: 100%;
          grid-template-columns: 1fr;
          grid-template-rows: minmax(200px, auto);
          margin-bottom: 20px;
        
      }
  }
  .embedded-header{
    color: #00b0f0;
    font-weight: 500;
  }

  .inner-header{
    color: #00b0f0;
    font-size: 1.1em;
    font-weight: 500;
  }
  .course-container{
    border: 1px solid #00b0f0;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 150px;
    font-size: 1em !important;
  }

  .course-container span{
    font-size: .85em !important;
  }

  .course-outer-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: minmax(50px, auto); */
    grid-gap: 10px;
  }
  @media only screen and (max-width: 750px) {
      .course-outer-container{
          grid-template-columns: 1fr 1fr;
          /* grid-template-rows: minmax(200px, auto);         */
      }
  }
  @media only screen and (max-width: 550px) {
      .course-outer-container{
          grid-template-columns: 1fr;
          /* grid-template-rows: minmax(200px, auto);         */
      }
  }
</style>

{% endblock css %}

{% block content %}


<video autoplay muted loop id="home-video">
  <source src="{% static 'media/images/home-video.mp4' %}" type="video/mp4">
  Your browser does not support HTML5 video.
</video>
<div class="home-ovelay"></div>
<div class="home-container universal-padding">
  
    <div class="row">
        <div class="col-sm-9">
          <div class="advertising_txt">
            {% for home_text in animated_txt %}
            <div class="home-text-container" style="display: none;">
                <h1 class="home-text animate__animated animate__fadeInDown" style="font-size: 2.5em; text-shadow: 2px 2px 8px #000;">{{home_text.line1|safe}}</h1>
                <h3 class="home-text-sm animate__animated animate__fadeInUp" style="font-size: 2.0em; text-shadow: 2px 2px 8px #000;">{{home_text.line2|safe}}</h3>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-sm-3">
            <div class="side-info">
                <h2>Truck Driver Training Academy</h2>
                <br>
                <h4 class="text-light">Contact Us</h4>
                <div class="cont-num mb-2">087 100 5164</div> 
            
                <h5 class="emailaddr mb-2 text-white">info@driverhealth.co.za</h5>

                <div class="home-btns">
                    <a href="#" class="frontpage_btn text-white"  onclick="" style="float: left;">READ MORE</a>
                    <a href="#" class="frontpage_btn text-white"  onclick="" style="float: left;">BOOK TEST</a>
                </div>
            </div>
        </div>
    </div>
  </div>

    <div id="page-contents" class="universal-padding">
      <div class="page-segment">
          <h4 class="mt-4 page-title">Truck Driver Training Academy</h4>
          <div style="text-align: center; width: 75%;">The Truck Driver Training Academy offers 1 – 4 weeks truck driving courses. Our goal being simply to train truck drivers to a new exciting and paying career. We focus on the skills, knowledge, and duties of a professional truck driver. Our courses cover the fundamentals of tractor and trailer operations, tractor and trailer regulations and safety, cross-border knowledge, day and night driving and lastly general employability skills. We train drivers from all Southern African countries</div>
          <br>
          <div class="row">
            <div class="col-sm-8">
           
                
                  <div class="home-img-container">
                  
                      <img src="{% static 'media/images/home-img.webp' %}" class="home-img" />

                   

                    <div class="home-txt" style="padding-left: 20px;">
                      <h5 class="embedded-header mt-3">WHAT WE OFFER</h5>
                      <ul>
                        <li>E-learning truck driver program</li>
                        <li>Advanced truck simulator training</li>
                        <li>In truck yard training</li>
                        <li>In truck on-road training</li>
                        <li>In truck on the job experience</li>
                        <li>Refresher trainings</li>
                        <li>Skills courses</li>
                        <li>Driver assessments</li>
                        <li>Dangerous goods training</li>
                        <li>Job placement assistance</li>
                        <li> Learnership opportunities</li>
                      </ul>

                      <h5 class="embedded-header mt-3">WHY CHOOSE US?</h5>
                      <ul>
                        <li>South Africa’s leading truck driver training centre</li>
                        <li>Affordable training fees</li>
                        <li>Accredited trainers</li>
                        <li>Personalised training</li>
                      </ul>
                    </div>
                  </div>
              
           
            </div>
            <div class="col-sm-4">
              <h4 class="embedded-header">Our Training Plan</h4>
              <p style="font-size: 1em">
                <span class="inner-header"> E-Learning</span> – this develops the theoretical base knowledge of the trainee. Teaches the trainee the theory, vehicle basics and terminology.
                <br><br>
                <span class="inner-header">Truck Inspection Trainer</span> – this teaches the trainee how to perform pre-trip and post-trip vehicle inspections and how to report the findings.
      <br><br>
      <span class="inner-header">Advanced Training Truck Simulator</span> – this develops the driving skills of the trainee in a focused, rapid and comprehensive way. Our integrated driver training program addresses basic to advanced topics including reversing, parking, docking, risky situations, crash avoidance with other vehicles, pedestrians and animals, as well as driving in adverse weather, at night, hauling oversize or overweight loads, and much more. 
      <br><br>
      <span class="inner-header">Superlink Truck</span> – this gives the trainee the opportunity to transfer the skills learnt from the E-learning, the truck inspection trainer and the advanced truck training simulator into reality. 
              </p>
            </div>
          </div>
      </div>

      <div class="page-segment">
        <h4 class="mt-4 page-title">Truck Driver Training Courses</h4>
        <div style="text-align: center; width: 75%;">We offer affordable courses focusing on the skills, knowledge, and duties of a professional truck driver. Our training covers the fundamentals of tractor and trailer operations, tractor and trailer regulations and safety, theoretical basics of a vehicle, inspections, coupling and uncoupling, right & left turns, lane changing, shifting gears up and down, maneuvering and load securing among other. Register today and start your journey to an exciting paying career.</div>
        <br>
        <div class="course-outer-container">
          {% for course in training_course %}
          <div class="course-container">
            <h6 style="text-align: center;"><strong>{{course.course_name}}</strong></h6>
            <h6>Duration {{course.duration}} weeks</h6>
            <h4 style="color:#00b0f0">{{course.price}}</h4>
            <div>
              {{course.course_details|safe}}
            </div>
          </div>
        {% endfor %}
        </div>
        
      </div>

    </div>

  
   


{% endblock content %}


{% block js %}

    <script type="text/javascript">
        // implementation of the text animation in the homepage.
        const text_strings = document.getElementsByClassName("home-text-container");
        let index = 0;    //holds the index of individual text containers

        function displayText(){
        for(let i = 0; i < text_strings.length; i++){
            text_strings[i].style.display = 'none';
        }
        text_strings[index].style.display = 'block';

        if(index == text_strings.length-1){
            index = 0;
        }else{
            index++;
        }

        setTimeout(displayText, 6000);
        }

        window.onload = displayText;
    </script>

{% endblock js %}

