{% extends 'base.html' %}
{% load static %}

{% block css %}
<style>
  #header_section{
    background-color: rgba(0, 0, 0, 0.7);
  }
  #home-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -12;
  }

  .home-ovelay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(0,0,0,.7);
    z-index: -10;
  }
  #main-content{
    opacity: 1 !important;
  }

  .advertising_txt{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 350px;
    text-align: center;
    position: relative;
    z-index: 5;
  }

  .home-text-container{
    position: relative;
  }
  .home-text{
    color: #fff;
    letter-spacing: 1px;
  }
  .home-text-sm{
    color: #00b0f0;
    letter-spacing: 1px;
  }

  .home-img, .truckimg{
    max-width: 100%;
    /* height: 450px; */
    object-fit: cover;
  }

  .home-img-container{
    background-color: #f0f0f0; 
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-gap: 10px; */
  }


  .code14-container{
    padding: 5px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
  }

  @media only screen and (max-width: 750px) {
      .home-img-container, .code14-container{
          display: grid;
          width: 100%;
          grid-template-columns: 1fr;
          grid-template-rows: minmax(200px, auto);
          margin-bottom: 20px;
        
      }
  }

  



  .home-btns{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .seemore a{
    display: block;
    text-align: center;
    color: #00b0f0 !important;
  }


  .joblink{
    color:#fff !important;
  }

  .joblink:hover{
    color: #000 !important;
  }

  .course-container > div > ul > li{
    font-size: .85em;
  }

  .course-container > div > p{
    font-size: .9em;
  }
 
</style>

{% endblock css %}

{% block content %}


<video autoplay muted loop id="home-video">
  <source src="{% static 'media/images/home-video.mp4' %}" type="video/mp4">
  Your browser does not support HTML5 video.
</video>
<div class="home-ovelay"></div>
<div class="home-container universal-padding">
  
    <div class="row">
        <div class="col-sm-7">
          <div class="advertising_txt">
            {% for home_text in animated_txt %}
            <div class="home-text-container" style="display: none;">
                <h1 class="home-text animate__animated animate__fadeInDown" style="font-size: 2.5em; text-shadow: 2px 2px 8px #000;">{{home_text.line1|safe}}</h1>
                <h3 class="home-text-sm animate__animated animate__fadeInUp" style="font-size: 2.0em; text-shadow: 2px 2px 8px #000;">{{home_text.line2|safe}}</h3>
            </div>
            {% endfor %} 
          </div>

          <div class="home-btns">
              <a href="#" class="frontpage_btn text-white"  onclick="" style="float: left;">READ MORE</a>
              <a href="#" class="frontpage_btn text-white"  onclick="" style="float: left;">BOOK TEST</a>
          </div>
        </div>
        <div class="col-sm-5">
            <div class="side-info">
              <h4 class="text-white" style="letter-spacing: 1px; text-align: center;">Available Jobs</h4>
              
              <table class="table table-responsive table-sm text-white">
                <thead>
                    <th>Description</th>
                    <th>Post Date</th>
                    <th>Closing Date</th>
                </thead>
                <tbody class="text-white" style="font-size: .85em;">
                  {% for job in available_jobs %}
                    <tr>
                        <td><a class="joblink" href="{% url 'job' pk=job.pk %}">{{job.job_title|truncatechars:40}}</a> </td>
                        <td>{{job.date_created|date:"d.m.Y"}}</td>
                        <td>{{job.closing_date|date:"d.m.Y"}}</td>
                    </tr>
                  {% empty %}
                      <span class="text-danger">No available job opportunities currently</span>
                  {% endfor %}
                                       
                </tbody>
            </table>
            {% if available_jobs|length_is:"12" %}
            <span class="seemore"><a href="{% url 'jobs-list' %}">See More &#8250;</a> </span>
            {% endif %}
            </div>
        </div>
    </div>
  </div>

    <div id="page-contents" class="universal-padding">
      <div class="page-segment">
          <h4 class="mt-4 page-title">Truck Driver Training Academy</h4>
          <div style="text-align: center; width: 75%;">The Truck Driver Training Academy offers 1 – 4 weeks truck driving courses. Our goal being simply to train truck drivers to a new exciting and paying career. We focus on the skills, knowledge, and duties of a professional truck driver. Our courses cover the fundamentals of tractor and trailer operations, tractor and trailer regulations and safety, cross-border knowledge, day and night driving and lastly general employability skills. We train drivers from all Southern African countries</div>
          <br>
          <div class="row">
            <div class="col-sm-8">
           
                
                  <div class="home-img-container">
                  
                      <img src="https://ik.imagekit.io/2mjln4gew/media/images/truck-img.webp" class="home-img" />

                   

                    <div class="home-txt" style="padding-left: 20px;">
                      <h5 class="embedded-header mt-3">WHAT WE OFFER</h5>
                      <ul style="font-size: .95em;">
                        <li>Beginner (Novice) code 14 truck driver training </li>
                        <li>Beginner (Novice) code 10 truck driver training </li>
                        <li>Upskilling drivers from code 10 to code 14</li>
                        <li>Defensive and professional truck driving training</li>
                        <li>Periodic driver refresher training</li>
                        <li>Convey dangerous goods training</li>
                        <li>Fatigue management</li>
                        <li>Rollover prevention</li>
                        <li>Economic driving</li>
                        <li>Road safety</li>
                        <li>Speed management</li>
                        <li>Route assessments</li>
                        <li>In-cab assessments</li>
                        <li>Other training – basic first-aid, basic firefighting etc.</li>
                        <li>Driver medical examinations</li>
                        <li>Learnership programs</li>
                        <li>Employment opportunities</li>
                      </ul>

                      <h5 class="embedded-header mt-3">WHY CHOOSE US?</h5>
                      <ul style="font-size: .95em;">
                        <li>South Africa’s leading truck driver training centre</li>
                        <li>Affordable training fees</li>
                        <li>Accredited trainers</li>
                        <li>Personalised training</li>
                      </ul>
                     
                    </div>
                  </div>
              
           
            </div>
            <div class="col-sm-4">
              <h4 class="embedded-header">Our Training Plan</h4>
              <p style="font-size: 1em">
                <span class="inner-header"> E-Learning</span> – this develops the theoretical base knowledge of the trainee. Teaches the trainee the theory, vehicle basics and terminology.
                <br><br>
                <span class="inner-header">Truck Inspection Trainer</span> – this teaches the trainee how to perform pre-trip and post-trip vehicle inspections and how to report the findings.
      <br><br>
      <span class="inner-header">Advanced Training Truck Simulator</span> – this develops the driving skills of the trainee in a focused, rapid and comprehensive way. Our integrated driver training program addresses basic to advanced topics including reversing, parking, docking, risky situations, crash avoidance with other vehicles, pedestrians and animals, as well as driving in adverse weather, at night, hauling oversize or overweight loads, and much more. 
      <br><br>
      <span class="inner-header">Superlink Truck</span> – this gives the trainee the opportunity to transfer the skills learnt from the E-learning, the truck inspection trainer and the advanced truck training simulator into reality. 
              </p>
            </div>
          </div>
      </div>
      <hr />
      <div class="page-segment">
        <h4 class="mt-4 page-title">Truck Driver Training Courses</h4>
        <div style="text-align: center; width: 75%;">We offer affordable courses focusing on the skills, knowledge, and duties of a professional truck driver. Our training covers the fundamentals of tractor and trailer operations, tractor and trailer regulations and safety, theoretical basics of a vehicle, inspections, coupling and uncoupling, right & left turns, lane changing, shifting gears up and down, maneuvering and load securing among other. Register today and start your journey to an exciting paying career.</div>
        <br>
        <div class="course-outer-container">
          {% for course in training_course %}
          <div class="course-container">
            <h6 style="text-align: center;"><strong>{{course.course_name}}</strong></h6>
            <h6>Duration {{course.duration}}</h6>
            <h4 style="color:#00b0f0">R{{course.price}}</h4>
            <div style="font-size: .85em !important; color:rgba(0, 0, 0) !important;">
              {{course.course_details|safe}}
            </div>
            <a href="{% url 'book-training' pk=course.pk month=current_date.month year=current_date.year %}" class="btn btn-danger btn-sm text-white">Book Training</a>
          </div>
        {% endfor %}
        </div>
        
      </div>
      
    </div>
    
    <div id="page-contents" class="universal-padding" style="background-color: #f0f0f0;">
      <div class="page-segment">
        <div class="code14-container">
          <div>
            <h4 class="mt-2 page-title">Get your Code 14 with us!</h4>
            <div class="mb-3" style="text-align: center;">
              We have helped thousands of drivers pass their tests and drive around safely. Our structured lessons emphasize safety and skills preparation, so you can confidently pass your test.
            </div>
                <div class="code14course-container">
                  {% for course in code14courses %}
                    <div class="course-container bg-white">
                      <h6 style="text-align: center;"><strong>{{course.course_name}}</strong></h6>
                      <h4 style="color:#00b0f0">R{{course.price}}</h4>
                      <div>
                        {{course.course_details|safe}}
                      </div>
                      <a href="{% url 'elearning-enquiry' course_id=course.pk %}" class="btn btn-danger btn-sm text-white">Book Training</a>
                    </div>
                  {% endfor %}
              </div>
          </div>
          <div>
            <img src="https://ik.imagekit.io/2mjln4gew/media/images/truckimg.webp" class="truckimg"/>
          </div>
        </div>
        
      </div>
    </div>

    <div class="universal-padding" style="background-color: #fff;">
      <h4 class="mt-4 page-title">E-Learning Online Courses</h4>
      <div class="row">
        <div class="col-sm-6 mb-2">
          <div style="text-align: center;">
            <p style="font-size: .95em;" >
              Our E-Learn training program is also accessible on-line, from
              anywhere and at any time. We deliver the most relevant,
              leading-edge courses to motivate and educate employees to be safe, and responsible drivers.
              <br><br>
              Our courses aid in keeping drivers safe on the roads, reduces
              the risk of accidents and traffic violations, reduces exposure
              to liability risks and costs, lowers insurance premiums and
              accident claims, and lowers fleet maintenance costs.
              <br><br>
              Study from Anywhere<br>
              Study at Anytime<br>
              Accredited Training<br>
              Certificate at Completion<br>
              <br>
              To view our courses and register, click the button below.
  
            </p>
  
            <div style="text-align: center;">
              <a href="{% url 'elearning-courses' %}" class="btn btn-outline-danger btn-sm">View Courses</a>
            </div>
          </div>
          
        </div>
        <div class="col-sm-6 mb-2">
          <img src="https://ik.imagekit.io/2mjln4gew/media/images/elearning_img.jpg" class="truckimg">
        </div>
      </div>
  
    </div>
    
    <div class="page-contents universal-padding" style="background-color: #f0f0f0;">
      <h4 class="mt-2 page-title">Careers</h4>
                    
            <div class="row">
                <div class="col-sm-6 mb-2">
                    <div class="available-container">
                        
                        <h5>Available Jobs</h5>
                        <p style="text-align: center; font-size: .95em;">
                            Demand for truck drivers is very high and trucking companies are always looking for reliable and hard working drivers. If you think you have what it takes, register and upload your CV.
                        </p>
                    
                        <h5 class="text-info">What you will need</h5>
                        <div class="listcontainer" style="font-size: .95em;">
                            <span style="display: block;">A valid truck driver's licence</span>
                            <span style="display: block;">A valid PrDP / Medical Certificate</span>
                            <span style="display: block;">Work history with traceable references</span>
                            <span style="display: block;">A clear criminal record</span>
                            <span style="display: block;">Proof of additional truck driver training attained</span>
                        </div>
                        <br>
                        <p style="text-align: center; font-size: .95em">Boost your employability by getting the training you need and we can help you through our Truck Driver Training Academy</p>
                        
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="internship-container">
                        
                            <h5 style="text-align: center;">Available Drivers</h5>
                                                          
                            <p class="text-dark" style="text-align: center; font-size: .95em;">
                                                                  
                                    Are you looking to employ drivers on a temporary or permanent basis? Look no further, we have trained and experienced truck drivers around the country in search of employment. 
                                    <br><br>
                                    To ensure that you get exceptional drivers, we identify suitable candidates, we conduct all necessary checks and assessments, and we take candidates through our inhouse driver training program that offers advanced driver training. To view available drivers please click the button below.
                            </p>
                            <br><br>
                            <a href="{% url 'jobs-list' %}">View Available Jobs</a>
                            {% if request.user.is_company %}
                            <a href="{% url 'client-list' %}">View Available Drivers</a>
                            {% endif %}
                    </div>
                </div>
            </div>
    </div>

  
   


{% endblock content %}


{% block js %}

    <script type="text/javascript">
        // implementation of the text animation in the homepage.
        const text_strings = document.getElementsByClassName("home-text-container");
        let index = 0;    //holds the index of individual text containers

        function displayText(){
        for(let i = 0; i < text_strings.length; i++){
            text_strings[i].style.display = 'none';
        }
        text_strings[index].style.display = 'block';

        if(index == text_strings.length-1){
            index = 0;
        }else{
            index++;
        }

        setTimeout(displayText, 6000);
        }

        window.onload = displayText;
    </script>

{% endblock js %}

