{% extends "base.html" %}
{% load static %}
{% block title %}Booking Success{% endblock %}

{% block css %}
<style>
    p{
        max-inline-size: 100% !important;
    }
</style>
{% endblock css %}

{% block content %}


    <div class="about universal-padding">
        <h5 class="text-success">Booking successful</h5>
        <p>
            Please make a payment within the next 48 hours to confirm your booking. Use <span class="text-danger">{{object.booking_id}}</span> as a reference for the payment. 
        </p>
        <p>
            You can make a payment into the following bank account
        </p>
        <table class="table table-sm">
            <tr>
                <td>Account Holder </td>
                <td>DriverHealth Africa (PTY) LTD</td>
            </tr>
            <tr>
                <td>Bank </td>
                <td>ABSA</td>
            </tr>
            <tr>
                <td>Account Number </td>
                <td>41-0505-4532</td>
            </tr>
            <tr>
                <td>Clearing Code </td>
                <td>632005</td>
            </tr>
            <tr>
                <td>Referrence </td>
                <td>{{object.booking_id}}</td>
            </tr>
        </table>
    </div>

{% endblock %}