{% extends "base.html" %}
{% load static %}
{% load training_tags %}
{% block title %}Booking{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/calendar.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard_calendar.css' %}"/>
<style>
    p{
        max-inline-size: 100% !important;
    }
</style>
{% endblock css %}

{% block content %}


    <div class="about universal-padding">
        <input type="hidden" id="training_dates">
        {{training_events}}
        <div class="calendar">
            <div class="calendar-header">
                <div class="scrolling-arrows">
                    <a href="{% url 'book-training' pk=course.pk month=prev_month year=calendar_month.year %}" class="text-white">
                        <i class="fa fa-chevron-left" aria-hidden="true" style="font-size: 36px;"></i>
                    </a>
                </div>
                <div class="calendar-header-middle">
                    <div class="month_lbl"> {{calendar_month|date:"F"}} {{calendar_month|date:"Y"}}</div>
                     
                </div>
                <div class="scrolling-arrows">
                    <a href="{% url 'book-training' pk=course.pk month=next_month year=calendar_month.year %}" class="text-white">
                        <i class="fa fa-chevron-right" aria-hidden="true" style="font-size: 36px;"></i>
                    </a>
                </div>
            </div>
            <div class="calendar-week">
                <div class="week-day">Sun</div>
                <div class="week-day">Mon</div>
                <div class="week-day">Tue</div>
                <div class="week-day">Wed</div>
                <div class="week-day">Thu</div>
                <div class="week-day">Fri</div>
                <div class="week-day">Sat</div>
            </div>
            <div class="calendar-days">

                {% for day in calender_days %}
                    {% find_prev_next calender_days forloop.counter0 as ifcond %}
                    {% if ifcond == 1 %}
                        <div class="calendar-day prev-date" data-day="{{day}}-{{prev_month}}-{{calendar_month.year}}" data-dayselected="0">
                            {{day}}
                    
                            <div class="training-content">
                                <span class="notraining">No Training</span> 
                            </div>
                          
                        </div>
                    {% elif ifcond == 2 %}
                        <div class="calendar-day next-date" data-day="{{day}}-{{next_month}}-{{calendar_month.year}}" data-dayselected="0">
                            
                            {{day}}
                            <div class="training-content">
                                <span class="notraining">No Training</span> 
                            </div>
                        </div>
                    {% else %}
                        <div class="calendar-day" data-day="{{day}}-{{calendar_month.month}}-{{calendar_month.year}}" data-dayselected="0">
                            
                            {% if training_events.day == training_events.day.date_created|date:'d' %}
                            <div class="event bg-info">Event</div>
                            {% endif %}

                            {{day}}
                            <div class="training-content">
                                <span class="notraining">No Training</span> 
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
<script type="text/javascript" src="{% static 'js/calendar.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dashboard_calendar.js' %}"></script>

<script type="text/javascript">
    let training_dates = JSON.parse('{{ training_events | safe }}')
    console.log(training_dates)
</script>


{% endblock js %}