{% extends "base.html" %}
{% load static %}
{% block title %}E-Learning Courses{% endblock %}

{% block css %}
<style>
    
</style>
{% endblock css %}

{% block page_header %}{% include 'page-header.html' with pagetitle="Online Courses" only %}{% endblock page_header %}


{% block content %}


<div class="container-xxl py-5">
    <div class="container">
        <div class="course-outer-container">
            {% for course in elearning_courses %}
                <div class="course-container">
                <h6 style="text-align: center;"><strong>{{course.course_name}}</strong></h6>
                <h6>Duration {{course.duration}}</h6>
                <h4 style="color:#00b0f0">R{{course.price}}</h4>
                <div style="font-size: .85em !important; color:rgba(0, 0, 0) !important;">
                    {{course.course_details|safe}}
                </div>
                </div>
            {% endfor %}
        </div>
        

    </div>
</div>

{% endblock %}





