{% extends "base.html" %}
{% load static %}
{% block title %}Hourly Simulator Courses{% endblock %}

{% block css %}
<style>

</style>
{% endblock css %}
{% block page_header %}{% include 'page-header.html' with pagetitle="Hourly Simulator Courses" only %}{% endblock page_header %}

{% block content %}


<div class="container-xxl py-5">
    <div class="container">
        <div id="tdriver-courses" class="page-segment">
            <div class="mb-3" style="text-align: center;">
                <h1>Truck Driving Simulation Training</h1>
                <p>Our Simulator Training addresses basic to advanced topics including reversing, parking, docking, risky situations, crash avoidance with other vehicles, pedestrians, and animals, as well as driving in adverse weather, at night, hauling oversize or overweight loads, and much more.</p>
                <br>
            </div>
            <div class="coursecontainer">
                {% for course in simulator_courses %}
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="causes-item d-flex flex-column bg-white border border-3 border-primary rounded-top rounded-bottom overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">
                            <div class="d-inline-block bg-danger text-white rounded-bottom fs-5 pb-1 px-3 mb-4">
                                <small>{{course.course_name}}</small>
                            </div>
                            <h1>R{{course.price}}</h1>
                            <h5 class="mb-3">Duration {{course.duration}}</h5>
                            <p>{{course.course_intro}}</p>
                            <a class="btn btn-outline-primary" href="{% url 'course-details' pk=course.pk %}">
                                Read More
                                <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                    <i class="fa fa-arrow-right"></i>
                                </div>
                            </a>
                        </div>
                        
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
    </div>
</div>

{% endblock %}