{% extends "base.html" %}
{% load static %}
{% block title %}Edit Client{% endblock %}

{% block css %}
<style>

.topheader{
        position: relative;
        background-color: #000 !important;
        /* margin-bottom: 20px; */
    }
    
    .shortcut-links-container{
        display: flex !important;
        flex-wrap: nowrap;
        /* justify-content: left; */
        align-items: center;
    }
    .subheader-contianer{
        color: #fff;
    }

</style>
{% endblock css %}


{% block submenu %}
{% include 'client-menu.html' %}
{% endblock submenu %}

{% block entity_name %}
    <div class="comp_name">{{request.user.get_full_name}}</div>
{% endblock entity_name %}
{% block dashboard_menu %}    
    {% include 'client-menu.html' %}
{% endblock dashboard_menu %} 

{% block content %}


    <div class="about universal-padding">
        <form method="post">{% csrf_token %}
            {{editform.media}}
            {{editform.as_p}}
            <input type="submit" class="btn btn-secondary" value="Save">
        </form>
    </div>

{% endblock %}