{% extends "base.html" %}
{% load static %}
{% block title %}Privacy Policy{% endblock %}

{% block css %}
<style>
    p{
        max-inline-size: 100% !important;
    }
</style>
{% endblock css %}{% block page_header %}{% include 'page-header.html' with pagetitle="Privacy Policy" only %}{% endblock page_header %}


{% block content %}

    
<div class="container-xxl py-5">
    <div class="container">
        {{privacy_policy.doc_text|safe}}
    </div>
</div>

{% endblock %}