{% extends "base.html" %}
{% load static %}
{% block title %}Change Password{% endblock %}

{% block page_header %}{% include 'page-header.html' with pagetitle="Change Password" only %}{% endblock page_header %}

{% block content %}
{% load crispy_forms_tags %}  
<div class="container-xxl py-5">
    <div class="container">
        <form role="form" method="post">
            {% csrf_token %}
            {{ pwd_change_form.as_p }}
            <button class="btn btn-success btn-lg pull-right" type="submit">Submit</button>
        </form>
    </div>
</div>


{% endblock %}