{% extends "base.html" %}
{% load static %}
{% block title %}About Us{% endblock %}

{% block css %}
<style>
    p{
        max-inline-size: 100% !important;
    }
    textarea, .django-ckeditor-widget{
        width: 100% !important;
    }
</style>
{% endblock css %}

{% block content %}

    <div class="universal-padding">
        {% include 'errors.html' %}
        <div class="row">
            <div class="col-md-6">
                {% if user.is_authenticated %}
                    <form method="post">
                        {% else %}
                    <form method="post" action="/contact_us/">
                    {% endif %}
                    {% csrf_token %}
    
                    {{contact_form.as_p}}
    
                    <input class="btn btn-primary pull-right" type="submit" value="Send"/>
                </form>
            </div>
            <div class="col-md-6">
                <div class="bus_hr_container p-5 mt-3 bg-dark text-white">
                    <h5 class="text-white">Our Business Hours</h5>               
                        <p>Mon - Fri: 08:00am to 04:30pm</p>
                    <br />
                    <h5 class="text-white">Address:</h5>
                    <p>
                        <!-- {{about_us.physicalAddress|safe}} -->
                        5 Yaldwyn Road<br>
                        Jet Park<br>
                        Johannesburg<br> 
                        1469
                    </p>
                    <br />
                    <p>
                        <a href="tel:27861005164" style="text-decoration: none; color: white;">Tel: +27 86 100 5164</a><br>
                        <a href="tel:27864748368" style="text-decoration: none; color: white;">Fax: +27 86 474 8368</a><br>
                        <a href="tel:0735644950" style="text-decoration: none; color: white;">Whatsapp: +27 67 657 2325</a>
                            
                    </p><br>
    
                    <h5 class="text-white">Email:</h5>
                    <a href="mailto:info@driverhealth.co.za" style="text-decoration: none; color: white;">info@driverhealth.co.za</a>
                </div>
            </div>
    
        </div>
        
    </div>

{% endblock %}