{% extends "base.html" %}
{% load static %}
{% block title %}Driver List{% endblock %}

{% block css %}
<style>
      .shortcut-links-container{
        display: flex !important;
        flex-wrap: nowrap;
        /* justify-content: left; */
        align-items: center;
    }
    .subheader-contianer{
        color: #fff;
    }
    .goldstar{
        font-size: 20px;
    }
    .greystar{
        font-size: 20px;
    }
    .countries-container, .filterform-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .clientfilter-form{
        width: 50%;
    }
    @media only screen and (max-width: 750px) {
        .clientfilter-form{
            width: 100%;
        }
    }
</style>
{% endblock css %}

{% block submenu %}
{% include 'dashboard-menu.html' %}
{% endblock submenu %}

{% block entity_name %}
    <div class="comp_name">{{request.user.company}}</div>
{% endblock entity_name %}
{% block dashboard_menu %}    
    {% include 'dashboard-menu.html' %}
{% endblock dashboard_menu %} 

{% block content %}


    <div class="universal-padding">
        <div class="filter-container">
            <div class="countries-container">
                {% for country in countries %}
                    <a href="?country={{country.pk}}">| {{country.long_name}}&nbsp </a>
                {% endfor %}
            </div>
            <div class="filterform-container">
                <form class="clientfilter-form" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        {{filterform.search_field}}
                        <div class="input-group-append">
                          <button class="btn btn-primary" type="button">Search</button>
                        </div>
                    </div>
                </form>
            </div>
            
        </div>

        {% include 'list-shared-code.html' %}
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/geolocation.js' %}"></script>
    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBA4UiuR4j_5veSQb6hjx-k4izHptNOqdE&libraries=places&callback=initMap">
    </script>
    
{% endblock js %}