{% extends "base.html" %}
{% load static %}
{% block title %}Client Profile{% endblock %}

{% block css %}
<style>
    .topheader{
    position: relative;
    background-color: #000 !important;
    /* margin-bottom: 20px; */
}
    .imgcontainer{
        width: 200px;
        height: 200px;
        border: 1px solid #ddd;
        position: relative;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        background-image: url('https://ik.imagekit.io/2mjln4gew/{{client.profile_picture}}?tr=q-50?tr=w-300,h-300');
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .profile-pic{
        width: 100%;
        object-fit: cover;
    }


    .half-input-container {
        display: grid !important;
        grid-template-columns: 1fr 1fr !important;
        grid-template-rows: 1fr !important;
        grid-gap: 10px !important;
        /* width: 92.5% !important; */
      }

      .half-input {
        max-width: 120px;
      }

      .map {
        width: 100%;
        height: 100vh;
      }

      h2 {
        font-family: Roboto, sans-serif;
      } 

      #othertype, label[for="othertype"]{
        display: none;
    }

      p > input, p > select{
        width: 90%;
      }

      label{
        display: block;
      }

      input:focus::placeholder {
        color: white;
      } 

      .modal-footer{
        justify-content: center !important;
      }

      @media (min-width: 576px){
        .modal-dialog {
            max-width: 69%;
        }
      }

      .shortcut-links-container{
        display: flex !important;
        flex-wrap: nowrap;
        /* justify-content: left; */
        align-items: center;
    }
    .subheader-contianer{
        color: #fff;
    }

</style>
{% endblock css %}

{% block submenu %}
{% include 'dashboard-menu.html' %}
{% endblock submenu %}

{% block entity_name %}
    <div class="comp_name">{{request.user.company}}</div>
{% endblock entity_name %}
{% block dashboard_menu %}    
    {% include 'dashboard-menu.html' %}
{% endblock dashboard_menu %} 

{% block modals %}

  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5> -->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="frmcont">
                <form method="post" action="/driver_requests/{{client.pk}}/">{% csrf_token %}
                    {{reqform.as_p}}
                    <button type="submit" class="btn btn-primary">Send Request</button>
                </form>
            </div>
          
        </div>
        
      </div>
    </div>
  </div>
{% endblock modals %}

{% block content %}


    <div class="universal-padding">
        {% include 'errors.html' %}
        <div class="prof-upper">
            <div>
                
                <div class="imgcontainer" data-loaded="false" data-original_fn="">

                    
                </div>
                                
            </div>
            <div class="prof-upper-inner" style="border-bottom: 1px solid #ddd;">
                <div>
                    {% if driver_req %}
                    <span class="badge bg-secondary mb-3">Active Request Found</span>
                    {% else %}
                    <a href="javascript:void(0)" class="btn btn-danger btn-sm text-white mb-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Request Full Access To Profile</a>
                    {% endif %}
                    {% if driver_req.access_granted == True %}
                    <h3 class="prof-title mb-3">{{client.user.get_full_name}}</h3>
                    {% endif %}
                    <div class="dh-accreditation">
                        {% for i in stars_list %}
                            {{ forloop.counter1 }}
                            {% if i <= client.rating %}
                            <i class="fa fa-star goldstar" aria-hidden="true"></i>
                            {% else %}  
                            <i class="fa fa-star-o greystar" aria-hidden="true"></i>
                            {% endif %}
                        {% endfor %}
                        <span style="color: #ddd; display: block;">DriverHealth Rating</span>  
                    </div>
                    {% if client.tested == True %}
                    <span class="badge rounded-pill bg-success">Driver Tested</span>
                    {% else %}
                    <span class="badge rounded-pill bg-warning text-dark">Driver Not Tested</span>
                    {% endif %}
                </div>
                <div>
                    <h5 class="text-primary" style="font-size: 1em; font-weight: 700; letter-spacing: 1px;">DriverHealth Remarks</h5>
                    <div class="accr-text">
                        {% if client.dh_test_comment %}
                            {{client.dh_test_comment|safe }}
                        {% else %}
                            <div class="alert alert-danger" role="alert"><i>Has NOT been tested by DriverHealth yet.</i></div>
                        {% endif %}
                    </div>
                </div>
                
            </div>

        </div>
        <div class="prof-mid">
            <div></div>
            <div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="personal-details">


                            <table class="table table-sm table-borderless mt-4" style="font-size: .85em;">
                        
                                <tr>
                                    <td>
                                        DriverHealth ID             
                                    </td>
                                    <td>
                                        {{client.user.dh_id}}
                                    </td>
                                </tr>
                                                        
                                <tr>
                                    <td>
                                        Nationality            
                                    </td>
                                    <td>
                                        {{client.nationality}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Location</td>
                                    <td>{{client.location}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        Contact Number             
                                    </td>
                                    <td>
                                        {% if driver_req.access_granted == True %}
                                            {{client.user.contactNumber}}
                                        {% else %}
                                            <span class="text-danger">Hidden</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Email             
                                    </td>
                                    <td>
                                        
                                        {% if driver_req.access_granted == True %}
                                            {{client.user.email}}
                                        {% else %}
                                            <span class="text-danger">Hidden</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Own a Passport</td>
                                    <td>{% if client.has_passport == True %}Yes{% else %}No{% endif %}</td>
                                </tr>
                                <tr>
                                    <td>Passport Number</td>
                                    <td>
                                        {% if driver_req.access_granted == True %}
                                            {{client.passport_num}}
                                        {% else %}
                                            <span class="text-danger">Hidden</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Looking for a job?</td>
                                    <td>{% if client.in_job_market == True %}Yes{% else %}No{% endif %}</td>
                                </tr>
                            </table>
                        </div>
                        
                        <div class="cv-title-container">
                            <h4>Employment History </h4>
                           
                        </div>
                        {% for work_exp in work_history %}
                        <div class="employment-box"> 
                            
                            <table class="table table-responsive table-borderless">
                                <tr>
                                    <td colspan="2">
                                        <h5>{{work_exp.company_name}}</h5>
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <td style="width: 15%;"><strong>Period</strong></td>
                                    <td>
                                        <span>{{work_exp.start_date}} to </span>
                                        <span>{{work_exp.end_date}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Role</strong></td>
                                    <td>{{work_exp.role}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Duties</strong></td>
                                    <td>{{work_exp.duties}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Contact Person</strong> </td>
                                    <td>{{work_exp.contact_person}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Contact Number</strong></td>
                                    <td>{{work_exp.contact_num}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Can this person be contacted for a reference?</strong></td>
                                    <td>{% if work_exp.contact_permission == True %}Yes{% else %}No{% endif %}</td>
                                </tr>
                            </table>

                        </div>
                        {% empty %}
                            <span class="text-danger">Currently no work experience</span>

                        {% endfor %}
                    </div>
                    <div class="col-sm-6">
                        <h5 class="text-dark mt-4">Driver Documents</h5>
                       
                        <div class="docs-container">
                            <table class="table table-responsive table-bordered border-primary doctable">
                                {% for doc in clientdocs %}
                                <tr>
                                    {% if doc.doc_type == 6 %}
                                    <td style="width: 30%;">Other ({{ doc.other_type|truncatechars:25 }})</td>
                                    {% else %}
                                    <td style="width: 30%;">{{ doc.get_doc_type_display }}</td>
                                    {% endif %}
                                    <td>
                                        {% if driver_req.access_granted == True %}
                                        <a href="{{doc.retDocument}}" class="homepage_link">{{doc.doc_name|truncatechars:40 }}</a> 
                                        {% else %} 
                                        <a href="javascript:void(0)" class="homepage_link" onclick="alert('You have not been granted full access to this profile yet.')">{{doc.doc_name|truncatechars:40 }}</a> 
                                        {% endif %}
                                    </td>
                                    
                                </tr>
                                {% empty %}
                                <span class="text-danger">No Uploaded Documents</span>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

{% endblock %}