{% extends "base.html" %}
{% load static %}
{% block title %}Create Job{% endblock %}

{% block css %}
<style>
    .topheader{
    position: relative;
    background-color: #000 !important;
    /* margin-bottom: 20px; */
}
    .shortcut-links-container{
        display: flex !important;
        flex-wrap: nowrap;
        /* justify-content: left; */
        align-items: center;
    }
    .subheader-contianer{
        color: #fff;
    }
</style>
{% endblock css %}

{% block submenu %}
{% include 'dashboard-menu.html' %}
{% endblock submenu %}

{% block entity_name %}
    <div class="comp_name">{{request.user.company}}</div>
{% endblock entity_name %}
{% block dashboard_menu %}    
    {% include 'dashboard-menu.html' %}
{% endblock dashboard_menu %} 

{% block content %}


<div class="container-xxl py-5">
    <div class="container">
        {% include 'errors.html' %}
        <form method="post" action="/companies/create-job/">{% csrf_token %}
            {{ jobform.media }}
            {{jobform.as_p}}
            <div style="text-align: center;">
                <input type="submit" class="btn btn-secondary">
            </div>
            
        </form>
    </div>
</div>

{% endblock %}